.button {
    color: $primary-bg-color;
    background: $accent-color;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 32px;
    display: inline-block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 15%);
    border-radius: 4px;
    border: none;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus {
        color: $primary-bg-color;
        background-color: $secondary-accent-color;
    }
}

