$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$secondary-bg-color: #2F303A;
$third-bg-color: #F5F4FA;
$secondary-accent-color: #188CE8;
$fourth-bg-color: #2F303A;
$fifth-bg-color: #C4C4C4;
$sixth-bg-color: #AFB1B8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$outline-color: black;